<div class="component">
  <div class="component__title">
    <h1>
      welcome
    </h1>
    <div class="title__sub-title">
      <div>
        To the books search app
      </div>
      <div>
        A home assignment for e-square.io
      </div>

    </div>
  </div>

  <div class="component__login">
    <div class="login__label">please insert your username</div>
    <input placeholder="username" [formControl]="usernameFormControl" />
    <button (click)="onSubmit()" [disabled]="usernameFormControl.invalid" [ngClass]="{'button--disabled': usernameFormControl.invalid}">Find your book!</button>
  </div>

</div>
