.component{
    background: linear-gradient(to bottom, rgb(59, 7, 156), rgb(55, 10, 139),  rgb(66, 8, 104));
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;

    .component__title{
        height: 50%;
        @media(max-width: 500px){
          height: 30%;
        }
        font-size: 5rem;


        .title__sub-title{
            font-size: 3rem;
        }
    }

    .component__login{

        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .login__label{
            font-size: 2rem;
        }


        input{
            border-radius: 7px;
            height: 4rem;
            padding: 10px;
            width: 100%;
            font-size: 1.5rem;
        }

        button{
            border: none;
            outline: none;
            border-radius: 7px;
            padding: 15px;
            background-color: rgb(141, 20, 131);
            color: white;
            font-size: 2rem;
        }
        .button--disabled{
          background-color: rgb(89, 118, 172);
        }
    }
}

