<div class="component">
  <div class="component__title">welcome {{ userName }}!</div>

  <div class="component__search-bar">
    <div class="search-bar__label">
      please enter here the name of the book you'd like to search for
    </div>
    <input class="search-bar__input" placeholder="e.g. Uncle Tom's Cabin..." [formControl]="searchControl" />

    <div class="serach-bar__result" *ngFor="let book of booksList | async as bookList">
      <div class="result__title">
        {{book.volumeInfo.title}}

      </div>
      <div class="result__authors">
       {{book.volumeInfo.authors ? 'by ' + book.volumeInfo.authors[0] : 'author name unspecified'}}
      </div>

    </div>
    <!-- <p-paginator [rows]="20" [totalRecords]="totalItems"></p-paginator> -->
  </div>
</div>
