.component {
  background: rgb(228, 232, 236);
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(84, 127, 177);
  padding: 5rem 5rem 5rem 5rem;

  .component__wish-link {
    color: rgb(6, 128, 243);
    align-self: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    .wish-link__icon {
      font-size: 5rem;
    }
    .wish-link__text {
      font-size: 1.1rem;
      width: 5.8rem;
      margin-left: 10px;
      text-align: start;
    }
  }

  .component__title {
    font-size: 4rem;
    min-height: 15rem;
    margin-top: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .component__search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .search-bar__label {
      font-size: 2rem;
    }
    .search-bar__input {
      width: 50rem;
      border-bottom: 1px solid rgb(84, 127, 177);
      background: rgb(228, 232, 236);

      margin-top: 3rem;
      font-size: 2rem;
      padding: 8px;
      color: rgb(84, 127, 177);
    }
    .search-bar__input::placeholder {
      color: rgb(84, 127, 177);
    }
    .search-bar__results {
      background: rgb(228, 232, 236);
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 1.5rem;
      text-align: center;

      .results__item {
        border: 1px solid rgb(142, 163, 189);
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
        background-color: rgb(209, 222, 238);
        min-width: 70%;
        max-width: 70%;
        text-align: start;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .content__title {
          font-size: 2rem;
        }
        .content__authors {
          font-size: 1.3rem;
          margin: 5px;
        }

        .item__wish {
          font-size: 2rem;
          margin-left: 20px;
        }
      }
      .results__item:hover {
        background-color: rgb(178, 207, 240);
      }
    }
  }
}
:host::ng-deep {
  .p-paginator {
    background-color: transparent;
  }
  .p-highlight {
    background-color: white !important;
  }
}
