<div class="component">
    <div class="component__title">welcome {{ userName }}!</div>

    <div class="component__search-bar">
        <div class="search-bar__label">
            please enter here the name of the book you'd like to search for
        </div>
        <input class="search-bar__input" placeholder="e.g. Uncle Tom's Cabin..." [formControl]="searchControl" />
        <div class="search-bar__results" *ngIf="totalItems">
          <p-paginator
          [rows]="20"
          [totalRecords]="totalItems"
          (onPageChange)="onPageChange($event)"
          class="p-paginator"
          style="font-size: 2rem"
          ></p-paginator>
            <div class="results__item" *ngFor="let book of booksList ">
              <div class="item__content">
                <div class="content__title">
                  {{book.volumeInfo.title}}

              </div>
              <div class="content__authors">
                  {{book.volumeInfo.authors ? 'by ' + book.volumeInfo.authors[0] : 'author name unspecified'}}
              </div>
              </div>

                <i class="item__wish pi pi-heart" (click)="onWishIconClicked()"></i>
                <i class="item__wish pi pi-heart" (click)="onCheckedhIconClicked()"></i>

            </div>

        </div>
    </div>
</div>
