@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  margin: 0;
}
input{
  border: none;
  outline: none;
}


